<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">

  <div class="container-fluid">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="btn btn-outline-info">Home</a></li>
        <li><a href="#" class="btn btn-outline-info ms-2 me-5">About</a></li>
        {% if user.is_authenticated %}
          <li><a href="#" class="btn btn-outline-success">New account</a></li>
        {% endif %}
      </ul>

      <form action="#" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
               aria-label="Search" name="search">
      </form>

      <div class="text-end">
        {% if user.is_authenticated %}
          <a href="{% url 'user_auth:logout' %}" type="button" class="btn btn-outline-light me-2">
            Logout
          </a>
        {% else %}
          <button type="button" class="btn btn-outline-light me-2"
             data-bs-toggle="modal" data-bs-target="#ajax_login">
            Login
          </button>
          <a href="{% url 'user_auth:registration' %}" type="button" class="btn btn-warning">Sign-up</a>
        {% endif %}
      </div>
    </div>
  </div>

{% include 'user_auth/sign_in_ajax.html' %}
</header>