# True for development, False for production
DEBUG=True

# Deployment SERVER address
SERVER=.min.io

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# For Postgres Persistence
DB_ENGINE=postgres
DB_NAME=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASS=<STRONG_PASSWORD_HERE>

# If present, the SignIN exposes the Github Login Button
# GITHUB_ID=<YOUR_GITHUB_ID>
# GITHUB_SECRET=<YOUR_GITHUB_SECRET>