DEBUG=True

# Deployment SERVER address
SERVER=.min.io

# For Postgres Persistence
PROD=1
DB_ENGINE=postgres
DB_NAME=pqyjmgds
DB_HOST=kashin.db.elephantsql.com
DB_PORT=5432
DB_USERNAME=pqyjmgds
DB_PASS=AGPM4cSHzPNpNMQvQJE2TEhEYgNBIoix