{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <table class="table table-dark table-striped caption-top">
        <caption class="text-center">
          This is all your files dear, {{ user.username }}
        </caption>
        <thead>
        <tr>
          <th scope="col">File description</th>
          <th scope="col">File category</th>
          <th scope="col">Uploaded time</th>
        </tr>
        </thead>

        <tbody>
        {% for file in files %}

          <tr>
            <td>
              <a href="{% url 'file_storage:show_file' file_uuid=file.uuid %}"
                 class="btn btn-outline-info">{{ file.description }}</a>
            </td>
            <td>
              <a href="{% url 'file_storage:show_category_files' category_url=file.category.slug %}"
                 class="text-decoration-none">{{ file.category.name }}</a>
            </td>
            <td>{{ file.uploaded_at|date:"d E, Y H:m" }}</td>
          </tr>
        {% endfor %}
        </tbody>

      </table>
    </div>
    <div class="col-3"></div>
  </div>

{% endblock %}
